{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Анализатор качества контента</h1>
        </div>
    </div>
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col-auto">
            <h4>Войдите в систему</h4>
        </div>
    </div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<form action="{% url 'login' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Admin">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary mt-3" id="login">Войти</button>
            </form>
		</div>
	</div>
    {% if error %}
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-auto">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}