{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin-settings.css" %}" />
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/admin-settings.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto">
                <b><a href="{% url 'index' %}">Система анализа электронных курсов</a></b>
	    	</div>
            <!--<div class="col-auto mr-auto">
                <a href="{% url 'index' %}" class="d-table-cell"><i class="far fa-arrow-alt-circle-left"></i></a>
            </div>-->
            <div class="col-auto mr-auto">
                <a href="{% url 'history' %}" class="d-table-cell" target="_blank"><i class="fas fa-clipboard-list"></i></a>
            </div>
            <div class="col-auto">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mb-3">
    <div class="row mt-3">
        <div class="col">
            <ul class="nav nav-tabs" id="settings-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if request.GET|get:'tab' == 'scales' %}active{% endif %}" id="scales-tab" data-toggle="tab" href="#tab-scales" role="tab" aria-controls="tab-scales" aria-selected="{% if request.GET|get:'tab' == 'scales' %}true{% else %}false{% endif %}">Шкалы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.GET|get:'tab' == 'indicators' %}active{% endif %}" id="indicators-tab" data-toggle="tab" href="#tab-indicators" role="tab" aria-controls="tab-indicators" aria-selected="{% if request.GET|get:'tab' == 'indicators' %}true{% else %}false{% endif %}">Показатели</a>
                </li>
            </ul>
            <div class="tab-content" id="settings-tabs-content">
                <div class="tab-pane fade {% if request.GET|get:'tab' == 'scales' %}show active{% endif %} p-0 m-0" id="tab-scales" role="tabpanel" aria-labelledby="scales-tab">
                    <div class="container m-0 mt-3">
                        <div class="row">
                            <div class="col">
                                {% if scales and scales|length > 0 %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Идентификатор шкалы</th>
                                                <th scope="col">Название шкалы</th>
                                                <th scope="col">Тип шкалы</th>
                                                <th scope="col">Параметры шкалы</th>
                                                <th scope="col">Изменить шкалу</th>
                                                <th scope="col">Удалить шкалу</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for scale in scales %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ scale.identifier }}</td>
                                                    <td>{{ scale.name }}</td>
                                                    <td>{% if scale.type == 'ordinal-scale' %}Порядковая шкала{% elif scale.type == 'interval-scale' %}Интервальная шкала{% else %}Неизвестный тип шкалы ({{ scale.type }}){% endif %}</td>
                                                    <td>{{ scale.attr }}</td>
                                                    <td class="text-center">
                                                        <a href="#" onclick="change_scale('{{ scale.identifier }}')"><i class="fas fa-cog"></i></a>
                                                        <div class="modal fade" id="modal-{{ scale.identifier }}" tabindex="-1" role="dialog" aria-labelledby="title-{{ scale.identifier }}" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="title-{{ scale.identifier }}">Настройка шкалы "{{ scale.name }}"</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <h5><label for="scale-identifier-{{ scale.identifier }}">Введите идентификатор шкалы</label></h5>
                                                                                    <input type="text" class="form-control" id="scale-identifier-{{ scale.identifier }}" name="scale-identifier-{{ scale.identifier }}" placeholder="some-scale-identifier" value="{{ scale.identifier }}" required>
                                                                                    <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-identifier">
                                                                                        Шкала с таким идентификатором уже существует.
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <h5><label for="scale-name-{{ scale.identifier }}">Введите название шкалы</label></h5>
                                                                                    <input type="text" class="form-control" id="scale-name-{{ scale.identifier }}" name="scale-name-{{ scale.identifier }}" placeholder="some-scale-name" value="{{ scale.name }}" required>
                                                                                    <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-name"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col">
                                                                                <h5>Выберите тип шкалы</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-check form-check-inline">
                                                                                    <input class="form-check-input" type="radio" name="scale-type-{{ scale.identifier }}" id="ordinal-scale-{{ scale.identifier }}" value="ordinal-scale" {% if scale.type == 'ordinal-scale' %}checked{% endif %} required>
                                                                                    <label class="form-check-label" for="ordinal-scale-{{ scale.identifier }}">Порядковая шкала</label>
                                                                                </div>
                                                                                <div class="form-check form-check-inline">
                                                                                    <input class="form-check-input" type="radio" name="scale-type-{{ scale.identifier }}" id="interval-scale-{{ scale.identifier }}" value="interval-scale" {% if scale.type == 'interval-scale' %}checked{% endif %} required>
                                                                                    <label class="form-check-label" for="interval-scale-{{ scale.identifier }}">Интервальная шкала</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-4">
                                                                            <div class="col">
                                                                                <h5>Параметры шкалы</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-2">
                                                                            <div class="col">
                                                                                <label for="scale-{{ scale.identifier }}" class="d-none"></label>
                                                                                <input type="range" class="custom-range" id="scale-{{ scale.identifier }}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-2 {% if scale.type == 'interval-scale' %}d-none{% endif %}" id="ordinal-scale-fields-{{ scale.name }}">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label for="min-val-{{ scale.identifier }}">Минимальное значение</label>
                                                                                    <input type="text" class="form-control" id="min-val-{{ scale.identifier }}" name="min-val-{{ scale.identifier }}" placeholder="0" value="{% if scale.type == 'ordinal-scale' %}{{ scale.attr|json_field:'min' }}{% endif %}">
                                                                                    <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-min"></div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="max-val-{{ scale.identifier }}">Максимальное значение</label>
                                                                                    <input type="text" class="form-control" id="max-val-{{ scale.identifier }}" name="max-val-{{ scale.identifier }}" placeholder="100" value="{% if scale.type == 'ordinal-scale' %}{{ scale.attr|json_field:'max' }}{% endif %}">
                                                                                    <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-max"></div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="step-{{ scale.identifier }}">Шаг</label>
                                                                                    <input type="text" class="form-control" id="step-{{ scale.identifier }}" name="step-{{ scale.identifier }}" placeholder="1" value="{% if scale.type == 'ordinal-scale' %}{{ scale.attr|json_field:'step' }}{% endif %}">
                                                                                    <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-step"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-2 {% if scale.type == 'ordinal-scale' %}d-none{% endif %}" id="interval-scale-fields-{{ scale.identifier }}">
                                                                            <div class="col">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <p>Введите сетку значений:</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col h-100">
                                                                                        <div class="form-group h-100 w-100 p-0 m-0">
                                                                                            <label for="value-{{ scale.identifier }}-0" class="d-none"></label>
                                                                                            <input type="text" class="form-control mt-auto mb-0" id="value-{{ scale.identifier }}-0" name="values-{{ scale.identifier }}" placeholder="0" value="{% if scale.type == 'interval-scale' %}{{ scale.attr|from_json|first }}{% endif %}">
                                                                                            <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-0"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-auto p-0 m-0 h-100 mr-3 mt-1">
                                                                                        <a href="#" class="w-100 h-100 m-0 p-0" onclick="add_field('{{ scale.identifier }}')"><i class="fas fa-plus-circle m-0 p-0 h-100" style="font-size: 2rem; cursor: pointer"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                                {% if scale.type == 'interval-scale' %}
                                                                                    {% for field in scale.attr|from_json %}
                                                                                        {% if forloop.counter != 1 %}
                                                                                            <div class="row mt-3">
                                                                                                <div class="col h-100">
                                                                                                    <div class="form-group h-100 w-100 p-0 m-0">
                                                                                                        <label for="value-{{ scale.identifier }}-{{ forloop.counter|add:-1 }}" class="d-none"></label>
                                                                                                        <input type="text" class="form-control mt-auto mb-0" id="value-{{ scale.identifier }}-{{ forloop.counter|add:-1 }}" name="values-{{ scale.identifier }}" placeholder="0" value="{{ field }}">
                                                                                                        <div class="invalid-feedback" id="invalid-feedback-{{ scale.identifier }}-{{ forloop.counter|add:-1 }}"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-auto p-0 m-0 h-100 mr-3 mt-1">
                                                                                                    <a href="#" class="w-100 h-100 m-0 p-0" onclick="remove_field('value-{{ scale.identifier }}-{{ forloop.counter|add:-1 }}')"><i class="fas fa-minus-circle m-0 p-0 h-100" style="font-size: 2rem; cursor: pointer"></i></a>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                                        <button type="button" class="btn btn-primary" id="save-scale-{{ scale.identifier }}" onclick="save_scale('{{ scale.identifier }}')">Сохранить</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a href="#" onclick="delete_scale('{{ scale.identifier }}')"><i class="fas fa-trash-alt"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        Не существует ни одной шкалы.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'add-scale' %}" enctype="multipart/form-data" method="get">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" id="add-scale"><i class="fas fa-plus"></i> Добавить шкалу</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if request.GET|get:'tab' == 'indicators' %}show active{% endif %}" id="tab-indicators" role="tabpanel" aria-labelledby="indicators-tab">
                    <div class="container m-0 mt-3">
                        <div class="row">
                            <div class="col">
                                {% if indicators and indicators|length > 0 %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Идентификатор показателя</th>
                                                <th scope="col">Название показателя</th>
                                                <th scope="col">Тип показателя</th>
                                                <th scope="col">Описание показателя</th>
                                                <th scope="col">Настройка показателя</th>
                                                <th scope="col">Удаление показателя</th>
                                                <th scope="col">Отображение показателя</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for indicator in indicators %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ indicator.identifier }}</td>
                                                    <td>{{ indicator.name }}</td>
                                                    <td>{% if indicator.type == 'auto-indicator' %}Автоматический{% elif indicator.type == 'expert-indicator' %}Экспертный{% else %}Неизвестный тип{% endif %}</td>
                                                    <td>{{ indicator.description }}</td>
                                                    <td class="text-center">
                                                        <a href="#" onclick="change_indicator('{{ indicator.identifier }}')"><i class="fas fa-cog"></i></a>
                                                        <div class="modal fade" id="modal-indicator-{{ indicator.identifier }}" tabindex="-1" role="dialog" aria-labelledby="title-{{ indicator.identifier }}" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="title-{{ indicator.identifier }}">Настройка показателя {{ indicator.identifier }}</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <h5><label for="indicator-identifier-{{ indicator.identifier }}">Введите название показателя</label></h5>
                                                                                    <input type="text" class="form-control" id="indicator-identifier-{{ indicator.identifier }}" name="indicator-identifier-{{ indicator.identifier }}" placeholder="some-indicator-identifier" value="{{ indicator.identifier }}" required>
                                                                                    <div class="invalid-feedback" id="invalid-feedback-indicator-{{ indicator.identifier }}-identifier">
                                                                                        Показатель с таким именем уже существует.
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <h5><label for="indicator-name-{{ indicator.identifier }}">Введите название показателя</label></h5>
                                                                                    <input type="text" class="form-control" id="indicator-name-{{ indicator.identifier }}" name="indicator-name-{{ indicator.identifier }}" placeholder="some-indicator-name" value="{{ indicator.name }}" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-3">
                                                                            <div class="col">
                                                                                <h5>Выберите тип показателя</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-check form-check-inline">
                                                                                    <input class="form-check-input" type="radio" name="indicator-type-{{ indicator.identifier }}" id="auto-indicator-{{ indicator.identifier }}" value="auto-indicator" {% if indicator.type == 'auto-indicator' %}checked{% endif %} required>
                                                                                    <label class="form-check-label" for="auto-indicator-{{ indicator.identifier }}">Автоматический показатель</label>
                                                                                </div>
                                                                                <div class="form-check form-check-inline">
                                                                                    <input class="form-check-input" type="radio" name="indicator-type-{{ indicator.identifier }}" id="expert-indicator-{{ indicator.identifier }}" value="expert-indicator" {% if scale.type == 'expert-indicator' %}checked{% endif %} required>
                                                                                    <label class="form-check-label" for="expert-indicator-{{ indicator.identifier }}">Экспертный показатель</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-4">
                                                                            <div class="col">
                                                                                <h5>Параметры показателя</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="custom-control custom-switch">
                                                                                    <input type="checkbox" class="custom-control-input" id="indicator-show-{{ indicator.identifier }}" name="indicator-show-{{ indicator.identifier }}" {% if indicator.show %}checked{% endif %} value="{% if indicator.show %}on{% else %}off{% endif %}">
                                                                                    <label class="custom-control-label" for="indicator-show-{{ indicator.identifier }}">Отображение показателя</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-4">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <h5><label for="indicator-description-{{ indicator.identifier }}">Описание показателя</label></h5>
                                                                                    <textarea class="form-control" id="indicator-description-{{ indicator.identifier }}" name="indicator-description-{{ indicator.identifier }}" rows="3">{{ indicator.description }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-2 {% if indicator.type == 'expert-indicator' %}d-none{% endif %}" id="auto-indicator-fields-{{ indicator.identifier }}">
                                                                            <div class="col"></div>
                                                                        </div>
                                                                        <div class="row mt-2 {% if indicator.type == 'auto-indicator' %}d-none{% endif %}" id="expert-indicator-fields-{{ indicator.identifier }}">
                                                                            <div class="col"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                                        <button type="button" class="btn btn-primary" id="save-indicator-{{ indicator.identifier }}" onclick="save_indicator('{{ indicator.identifier }}')">Сохранить</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><a href="#" onclick="delete_indicator('{{ indicator.identifier }}')"><i class="fas fa-trash-alt"></i></a></td>
                                                    <td class="text-center">{% if indicator.show == True %}<a href="#" onclick="hide_indicator('{{ indicator.identifier }}')"><i class="fas fa-eye"></i></a>{% else %}<a href="#" onclick="show_indicator('{{ indicator.identifier }}')"><i class="fas fa-eye-slash"></i></a>{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        Не существует ни одного показателя.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'add-indicator' %}" enctype="multipart/form-data" method="get">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" id="add-indicator"><i class="fas fa-plus"></i> Добавить показатель</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}