{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/audio-file-analysis.css" %}" />
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/audio-file-analysis.js" %}"></script>
{% endblock %}
{% block main %}
<div class="container-fluid mt-3 mb-3">
	<div class="row">
		<div class="col">
            {% if modules|length > 0 %}
                <ul class="nav nav-tabs" id="modules-tabs" role="tablist">
                    {% if modules %}
                        {% for name, extension, src in modules %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" id="{{ name }}-tab" data-toggle="tab" href="#tab-{{ name }}" role="tab" aria-controls="tab-{{ name }}" aria-selected="{% if forloop.counter == 1 %} true {% else %} false {% endif %}">Анализ видео {{ name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="tab-content" id="modules-tabs-content">
                    {% for name, extension, src in modules %}
                        <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}" id="tab-{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
                            <div class="container">
                                <div class="row mt-3 mb-3">
                                    <div class="col-auto d-block mx-auto">
                                        <audio controls>
                                            <source src="{{ src }}" type="audio/{{ extension }}">
                                        </audio>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h1 class="text-center">Вопросы эксперту</h1>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Цель аудио?</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-introductory" name="target">
                                            <label class="form-check-label" for="target-introductory">Вводная</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-auxiliary" name="target">
                                            <label class="form-check-label" for="target-auxiliary">Вспомогательная</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-illustrative" name="target">
                                            <label class="form-check-label" for="target-illustrative">Иллюстративная</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="target-own">Свой вариант</label>
                                            <input type="text" class="form-control" id="target-own" placeholder="Введите цель аудио">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Длительность учебного аудио?</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="audio-duration" class="d-none"></label>
                                            <input type="text" class="form-control" id="audio-duration" name="audio-duration" placeholder="00:40:02">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Качество записи аудио?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="audio-quality-low" name="audio-quality">
                                            <label class="form-check-label" for="audio-quality-low">Низкоое</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="audio-quality-normal" name="audio-quality">
                                            <label class="form-check-label" for="audio-quality-normal">Среднее</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="audio-quality-high" name="audio-quality">
                                            <label class="form-check-label" for="audio-quality-high">Высокое</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Формат записи?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="recording-format" class="d-none"></label>
                                            <input type="text" class="form-control" id="recording-format" name="recording-format" placeholder="mp3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Ни одного аудиофайла не обнаружено.
                </div>
            {% endif %}
            <form action="{% url 'audio-lecture-analysis' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mx-auto d-block" id="doexpans">Перейти к анализу аудиолекций</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}