{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/control-test-analysis.css" %}" />
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/control-test-analysis.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto d-table mr-auto">
	    		<b>Система анализа электронных курсов</b>
	    	</div>
            <div class="col-auto d-table">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mb-3 mt-3">
    {% if modules|length > 0 %}
	    <div class="row">
	    	<div class="col">
                <ul class="nav nav-tabs" id="modules-tabs" role="tablist">
                    {% if modules %}
                        {% for name, content, questions in modules %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" id="{{ name }}-tab" data-toggle="tab" href="#tab-{{ name }}" role="tab" aria-controls="tab-{{ name }}" aria-selected="{% if forloop.counter == 1 %} true {% else %} false {% endif %}">{{ content }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="tab-content" id="modules-tabs-content">
                    {% for name, content, questions in modules %}
                        <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}" id="tab-{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h3>Вопросы</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">№</th>
                                                <th scope="col">Текст вопроса</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for question in questions %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{% autoescape off %}{{ question }}{% endautoescape %}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form action="{% url 'control-test-analysis-results' %}" enctype="multipart/form-data" method="post" id="expert-questions">
                                            {% csrf_token %}
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <h3>Оценка объема тестовых вопросов или шаблонов</h3>
                                                </div>
                                            </div>
                                            <div class="row d-table">
                                                <div class="col-auto d-table-cell align-bottom">0</div>
                                                <div class="col d-table-cell">
                                                    <div class="form-group">
                                                        <label for="volume"></label>
                                                        <input type="range" class="form-control-range custom-range" id="volume" min="0" max="10" step="1" value="5">
                                                    </div>
                                                </div>
                                                <div class="col-auto d-table-cell align-bottom">10</div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Есть ли генерация вопросов?</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="hasgen" name="hasgen">
                                                        <label class="custom-control-label" for="hasgen">Да / Нет</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Какие технологии тестирования используются?</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="testech-simple" name="testech">
                                                        <label class="form-check-label" for="testech-simple">Простое тестирование</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="testech-adaptive" name="testech">
                                                        <label class="form-check-label" for="testech-adaptive">Адаптивное тестирование</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Присутствует ли кодификатор?</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="hascodifier" name="hascodifier">
                                                        <label class="custom-control-label" for="hascodifier">Да / Нет</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Укажите, к какому разделу курса относится каждый из данных вопросов</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Номер вопроса</th>
                                                            <th scope="col">Поле для ввода раздела</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for question in questions %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <label for="theme-{{ forloop.counter }}" class="d-none"></label>
                                                                        <input type="text" class="form-control" id="theme-{{ forloop.counter }}" placeholder="1, 5, 7">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Проводилось ли исследование текста каждого из вопросов?</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Номер вопроса</th>
                                                            <th scope="col">Тип исследования</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for question in questions %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="research-validity" name="researches">
                                                                        <label class="form-check-label" for="research-validity">На валидность</label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row mb-3 mt-3">
                                                <div class="col">
                                                    <h3>Особое мнение</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="specopin" class="d-none"></label>
                                                    <textarea class="form-control" id="specopin" placeholder="Введите своё мнение о вопросах или заданиях"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-3" id="testing-analyze" disabled>Провести анализ</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
	    	</div>
	    </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Ни одного контрольного или итогового теста не обнаружено.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-1">
        <div class="col-4 mx-auto d-block">
            <form action="{% url 'video-file-analysis' %}" enctype="multipart/form-data" method="post" id="expert-questions">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mx-auto d-block" id="testing-analyze">Перейти к анализу видеофайлов</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}