{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/files.css" %}" />
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/files.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto d-table mr-auto">
	    		<b>Система анализа электронных курсов</b>
	    	</div>
            <div class="col-auto d-table">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mb-3">
    <div class="row">
		<div class="col-auto">
            <div class="alert alert-info {% if msg|length == 0 %} mt-3 {% endif %}" role="alert">
                Система не смогла распознать модуль, к которому относятся данные файлы. Выберите файлы, относящиеся к одному модулю, укажите имя модуля и его тип. Удалите файлы, которые не нужно анализировать.
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-auto">
            <form action="{% url 'file-action' %}" enctype="multipart/form-data" method="post" id="files">
                {% csrf_token %}
                <div class="form-group">
                    <table class="table">
			        	<thead class="thead-light">
			        		<tr>
			        			<th scope="col">#</th>
                                <th scope="col">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="check-all" checked>
                                        <label class="custom-control-label" for="check-all"></label>
                                    </div>
                                </th>
			        			<th scope="col">Название файла</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		{% if files %}
			        		    {% for file in files %}
			        		        <tr>
			        			        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="checked" value="{{ file }}" id="file-{{ file }}" checked>
                                                <label class="custom-control-label" for="file-{{ file }}"></label>
                                                <input type="hidden" name="files" value="{{ file }}" />
                                            </div>
                                        </td>
			        			        <td>{{ file }}</td>
			        		        </tr>
			        		    {% endfor %}
			        		{% endif %}
			        	</tbody>
			        </table>
                    <label for="module-name">Введите название модуля</label>
                    <input type="text" class="form-control" id="module-name" name="module-name" placeholder="Название модуля" value="{% if mod_name %}{{ mod_name }}{% endif %}">
                    <label for="module-type" class="mt-3">Выберите тип модуля:</label>
                    <select class="form-control" id="module-type" name="module-type">
                        <option value="unknown" selected>Неизвестный</option>
                        <option value="theory">Теоретический материал</option>
                        <option value="self-test">Тест для самопроверки</option>
                        <option value="control-test">Контрольный тест</option>
                        <option value="exam-test">Итоговый тест</option>
                        <option value="video-file">Видеофайл</option>
                        <option value="video-lecture">Видеолекция</option>
                        <option value="audio-file">Аудиофайл</option>
                        <option value="audio-lecture">Аудиолекция</option>
                        <option value="webinar">Вебинар</option>
                        <option value="presentation">Презентация</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="join" name="join" disabled>Объединить в один модуль</button>
                <button type="submit" class="btn btn-danger" id="remove" name="remove" disabled><i class="fas fa-trash-alt"></i> Удалить выбранные файлы</button>
            </form>
		</div>
	</div>
    <!--<div class="row mt-3">
		<div class="col">
            <button class="btn btn-danger" id="remove" onclick="remove_selected_files()" disabled><i class="fas fa-trash-alt"></i> Удалить выбранные файлы</button>
        </div>
    </div>-->
</div>
{% endblock %}