{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
	{{ block.super }}
    <script src="{% static "js/index.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
{% endblock %}
{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<form action="{% url 'upload' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="files">Загрузите html-файл(ы) или архив с html-файлами и изображениями.</label>
                    <input type="file" class="form-control-file" id="files" name="files" multiple>
                </div>
                <button type="submit" class="btn btn-primary" id="send" disabled>Отправить</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}