{% extends "common.html" %}
{% load static %}
{% load filters %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/log.css" %}" />
    <script src="{% static "js/log.js" %}"></script>
{% endblock %}
{% block main %}
<div class="container-fluid">
    {% if content %}
        {%  for line in content %}
            <div class="row {% if forloop.counter == 1 %}mt-3{% endif %}">
                <div class="col" {% if line|index:0 != '[' %}style="color: red"{% endif %}>
                    {{ line }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}