{% extends "common.html" %}
{% load staticfiles %}
{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/modules.css" %}" />
    <script src="{% static "js/modules.js" %}"></script>
{% endblock %}
{% block header %}
    {{ block.super }}
    <div class="row pl-3 mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">1. Определение структуры</li>
                <li class="breadcrumb-item">2. Выбор показателей</li>
                <li class="breadcrumb-item">3. Экспертный анализ</li>
                <li class="breadcrumb-item">4. Результаты</li>
            </ol>
        </nav>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mb-3">
    {% if modules and modules|length != 0 %}
	    <div class="row">
	    	<div class="col-auto">
                <form action="{% url 'indicators' %}" enctype="multipart/form-data" method="post" id="modules">
                    {% csrf_token %}
                    <div class="form-group">
                        <table class="table">
	    		        	<thead class="thead-light">
	    		        		<tr>
	    		        			<!--<th scope="col">
                                        <div class="row ml-auto align-items-center">
                                            <div class="col-auto m-0 p-0">
                                                <div class="custom-control custom-checkbox mt-auto">
                                                    <input type="checkbox" class="custom-control-input" id="check-all-for-join" checked>
                                                    <label class="custom-control-label" for="check-all-for-join"></label>
                                                </div>
                                            </div>
                                            <div class="col-auto m-0 p-0">
                                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter" id="join"><i class="far fa-object-group" data-toggle="tooltip" data-placement="top" title="Объединить"></i></a>
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter" id="join">
                                                    Объединить
                                                </button>
                                            </div>
                                            <div class="col-auto m-0 p-0 ml-2">
                                                <a href="#" id="split" onclick="split_elements()"><i class="far fa-object-ungroup" data-toggle="tooltip" data-placement="top" title="Разъединить"></i></a>
                                            </div>
                                        </div>
                                    </th>-->
                                    <th scope="col">
                                        <!--<button type="button" class="btn btn-link" onclick="select()">Выбрать \ Снять выбор</button>-->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="check-all">
                                            <label class="custom-control-label" for="check-all"></label>
                                        </div>
                                    </th>
	    		        			<th scope="col">Название элемента</th>
                                    <th scope="col">Тип элемента</th>
                                    <th scope="col">Источник</th>
                                    <th scope="col">Возможность анализа</th>
	    		        		</tr>
	    		        	</thead>
	    		        	<tbody>
                                {% for module in modules %}
                                    <tr>
                                        <!--<th scope="row" class="align-middle">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="modules-for-join" value="{{ module.name }}" id="module-for-join-{{ module.name }}" checked>
                                                <label class="custom-control-label" for="module-for-join-{{ module.name }}"></label>
                                            </div>
                                        </th>-->
                                        <td class="align-middle">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="modules" value="{{ module.name }}" id="module-{{ module.name }}" {% if not module.allowed_for_analysis %}disabled{% else %}checked{% endif %}>
                                                <label class="custom-control-label" for="module-{{ module.name }}"></label>
                                            </div>
                                        </td>
                                        <td class="align-middle {% if not module.allowed_for_analysis %}disabled{% endif %}">{{ module.name }}</td>
                                        <td class="align-middle">
                                            <label for="type-{{ module.name }}" class="d-none"></label>
                                            <select class="form-control" id="type-{{ module.name }}" name="type-{{ module.name }}" {% if not module.allowed_for_analysis %}disabled{% endif %}>
                                                <option value="unknown" selected>Неизвестный</option>
                                                <option value="theory" {% if module.type == 'theory' %}selected{% endif %}>Теоретический материал</option>
                                                <option value="self-test" {% if module.type == 'self-test' %}selected{% endif %}>Тест для самопроверки</option>
                                                <option value="control-test" {% if module.type == 'control-test' %}selected{% endif %}>Контрольный тест</option>
                                                <option value="exam-test" {% if module.type == 'exam-test' %}selected{% endif %}>Итоговый тест</option>
                                                <option value="video-file" {% if module.type == 'video-file' %}selected{% endif %}>Видеофайл</option>
                                                <option value="video-lecture" {% if module.type == 'video-lecture' %}selected{% endif %}>Видеолекция</option>
                                                <option value="audio-file" {% if module.type == 'audio-file' %}selected{% endif %}>Аудиофайл</option>
                                                <option value="audio-lecture" {% if module.type == 'audio-lecture' %}selected{% endif %}>Аудиолекция</option>
                                                <option value="webinar" {% if module.type == 'webinar' %}selected{% endif %}>Вебинар</option>
                                                <!--<option value="presentation" {% if module.type == 'presentation' %}selected{% endif %}>Презентация</option>-->
                                            </select>
                                        </td>
                                        <td class="align-middle">{% if module.src == 'undefined' %}<span class="{% if not module.allowed_for_analysis %}disabled{% else %}red{% endif %}">Не определён</span>{% else %}<span class="{% if not module.allowed_for_analysis %}disabled{% endif %}">{{ module.src }}</span>{% endif %}</td>
                                        <td class="align-middle">{% if not module.allowed_for_analysis %}<span class="disabled">Неоступен для анализа</span>{% else %}<span>Доступен для анализа</span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
	    		        	</tbody>
	    		        </table>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary" id="next">Далее</button>
                        </div>
                        <div class="col-auto d-none" id="spinner">
                            <div class="spinner-border text-primary" role="status"></div>
                        </div>
                        <div class="col-auto">
                            <div class="d-none disabled ml-3" id="msg">Укажите тип всем элементам, которые выбраны для анализа</div>
                            <div class="d-none disabled ml-3" id="msg-src">Необходимо убрать элементы, для которых не определён источник данных.</div>
                        </div>
                    </div>
                </form>
	    	</div>
	    </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger mt-3" role="alert">
                    Ни одного модуля не обнаружено.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Объединение элементов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="element-name">Введите название нового элемента</label>
                        <input type="text" class="form-control" id="element-name" name="element-name" placeholder="" required>
                        <div class="invalid-feedback">
                            Необходимо заполнить это поле.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mx-auto d-block">
                        <button type="button" class="btn btn-primary" onclick="join_elements()">ОК</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}