{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/uploaded-files.css" %}" />
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/uploaded-files.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto d-table mr-auto">
	    		<b>Система анализа электронных курсов</b>
	    	</div>
            <div class="col-auto d-table">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mt-3 mb-3">
    <div class="row mt-3">
        <div class="col">
            <table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Название файла</th>
                        <th scope="col">Удалить файл</th>
					</tr>
				</thead>
				<tbody>
					{% if files %}
					    {% for file in files %}
					        <tr>
						        <th scope="row">{{ forloop.counter }}</th>
						        <td id="file-name-{{ forloop.counter }}">{{ file }}</td>
                                <td><a href="{% url 'delete-uploaded-file' %}?file-name={{ file }}"><i class="fas fa-trash-alt"></i></a></td>
					        </tr>
					    {% endfor %}
					{% endif %}
				</tbody>
			</table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'unpack-files' %}" enctype="multipart/form-data" method="post" id="files">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" id="next">Далее</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}