{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/video-file-analysis.css" %}" />
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/video-file-analysis.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto d-table mr-auto">
	    		<b>Система анализа электронных курсов</b>
	    	</div>
            <div class="col-auto d-table">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mt-3 mb-3">
    {% if modules|length > 0 %}
	    <div class="row">
	    	<div class="col">
                <ul class="nav nav-tabs" id="modules-tabs" role="tablist">
                    {% if modules %}
                        {% for name, extension, src in modules %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" id="{{ name }}-tab" data-toggle="tab" href="#tab-{{ name }}" role="tab" aria-controls="tab-{{ name }}" aria-selected="{% if forloop.counter == 1 %} true {% else %} false {% endif %}">Анализ видео {{ name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="tab-content" id="modules-tabs-content">
                    {% for name, extension, src in modules %}
                        <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}" id="tab-{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
                            <div class="container">
                                <div class="row mt-3 mb-3">
                                    <div class="col-auto d-block mx-auto">
                                        <video controls="controls" poster="" class="w-100">
                                            <source src="{{ src }}" type='video/{{ extension }}; codecs="avc1.42E01E, mp4a.40.2"'>
                                        </video>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h1 class="text-center">Вопросы эксперту</h1>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Цель видео?</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-introductory" name="target">
                                            <label class="form-check-label" for="target-introductory">Вводная</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-subsidiary" name="target">
                                            <label class="form-check-label" for="target-subsidiary">Вспомогательная</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="target-illustrative" name="target">
                                            <label class="form-check-label" for="target-illustrative">Иллюстративная</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Длительность учебного видео</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-short" name="duration">
                                            <label class="form-check-label" for="duration-short">Слишком короткое</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-normal" name="duration">
                                            <label class="form-check-label" for="duration-normal">Нормальное</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-long" name="duration">
                                            <label class="form-check-label" for="duration-long">Слишком длинное</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Наличие сценария</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-short" name="scenario">
                                            <label class="form-check-label" for="duration-short">Есть сценарий</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-normal" name="scenario">
                                            <label class="form-check-label" for="duration-normal">Нет сценария</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Сложность</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-short" name="complexity">
                                            <label class="form-check-label" for="duration-short">Простое видео</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="duration-normal" name="complexity">
                                            <label class="form-check-label" for="duration-normal">Интерактивное видео</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Использование интерактивного текста (бегущая строка)</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="ticker-is" name="ticker">
                                            <label class="form-check-label" for="ticker-is">Есть бегущая строка</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="ticker-isn't" name="ticker">
                                            <label class="form-check-label" for="ticker-isn't">Нет бегущей строки</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Качество записи</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="rec-quality-low" name="rec-quality">
                                            <label class="form-check-label" for="rec-quality-low">Плохое</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="rec-quality-normal" name="rec-quality">
                                            <label class="form-check-label" for="rec-quality-normal">Нормальное</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="rec-quality-good" name="rec-quality">
                                            <label class="form-check-label" for="rec-quality-good">Хорошее</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="rec-quality-excellent" name="rec-quality">
                                            <label class="form-check-label" for="rec-quality-excellent">Отличное</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
	    	</div>
	    </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Ни одного видео файла не обнаружено.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-1">
        <div class="col-4 mx-auto d-block">
            <form action="{% url 'video-lecture-analysis' %}" enctype="multipart/form-data" method="post" id="expert-questions">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mx-auto d-block" id="doexpans">Перейти к анализу видеолекций</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}