{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block head %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/webinar-analysis.css" %}" />
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/webinar-analysis.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="container-fluid">
        <div class="row mt-3 align-items-center">
	    	<div class="col-auto d-table mr-auto">
	    		<b>Система анализа электронных курсов</b>
	    	</div>
            <div class="col-auto d-table">
                {% if is_anonymous %}
                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти в систему</a>
                {% else %}
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти из системы</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid mt-3 mb-3">
    {% if modules|length > 0 %}
	    <div class="row">
	    	<div class="col">
                <ul class="nav nav-tabs" id="modules-tabs" role="tablist">
                    {% if modules %}
                        {% for name, videos, pictures, audios, presentations, documents, tables, pdfs, others in modules %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" id="{{ name }}-tab" data-toggle="tab" href="#tab-{{ name }}" role="tab" aria-controls="tab-{{ name }}" aria-selected="{% if forloop.counter == 1 %} true {% else %} false {% endif %}">Анализ видео {{ name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="tab-content" id="modules-tabs-content">
                    {% for name, videos, pictures, audios, presentations, documents, tables, pdfs, others in modules %}
                        <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}" id="tab-{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
                            <div class="container">
                                {% for video in videos %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <video controls="controls" poster="" class="w-100">
                                                <source src="{{ video.src }}" type='video/{{ video.extension }}; codecs="avc1.42E01E, mp4a.40.2"'>
                                            </video>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if pictures|length > 0 %}
                                    <div id="webinar-carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% for picture in pictures %}
                                                <li data-target="#webinar-carousel" data-slide-to="{{ forloop.counter|add:-1 }}" {% if forloop.counter == 1 %}class="active"{% endif %}></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for picture in pictures %}
                                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                    <img src="{{ picture.src }}" class="d-block w-100" alt="{{ picture.name }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#webinar-carousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#webinar-carousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% endif %}
                                {% for audio in audios %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <audio controls>
                                                <source src="{{ audio.src }}" type="audio/{{ audio.extension }}">
                                            </audio>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for presentation in presentations %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <a href="{{ presentation.src }}"><i class="far fa-file-powerpoint"></i> Скачать {{ presentation.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for document in documents %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <a href="{{ document.src }}"><i class="far fa-file-word"></i> Скачать {{ document.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for table in tables %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <a href="{{ table.src }}"><i class="far fa-file-excel"></i> Скачать {{ table.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for pdf in pdfs %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <a href="{{ pdf.src }}"><i class="far fa-file-pdf"></i> Скачать {{ pdf.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for other in others %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col-auto d-block mx-auto">
                                            <a href="{{ other.src }}"><i class="far fa-file"></i> Скачать {{ other.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h1 class="text-center">Вопросы эксперту</h1>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Тип вебинара?</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="webinar-type-lecture" name="webinar-type">
                                            <label class="form-check-label" for="webinar-type-lecture">Лекция</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="webinar-type-seminar" name="webinar-type">
                                            <label class="form-check-label" for="webinar-type-seminar">Семинар</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="webinar-type-consultation" name="webinar-type">
                                            <label class="form-check-label" for="webinar-type-consultation">Консультация</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="" id="webinar-type-combined" name="webinar-type">
                                            <label class="form-check-label" for="webinar-type-combined">Комбинированный</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Длительность вебинара?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="90" aria-label="minutes" aria-describedby="minutes" name="webinar-duration" id="webinar-duration">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="minutes">mm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Наличие сценария вебинара?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="has-scenario" name="has-scenario">
                                            <label class="custom-control-label" for="has-scenario">Есть / Нет</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Наличие презентации?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="has-presentation" name="has-presentation">
                                            <label class="custom-control-label" for="has-presentation">Есть / Нет</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Наличие дополнительных материалов (видеоролики по теме вебинара, справочные файлы (в формате - .doc, .xls, .pdf, .jpg, pas и т.д.))</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="has-additional-materials" name="has-additional-materials">
                                            <label class="custom-control-label" for="has-additional-materials">Есть / Нет</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col">
                                        <h3>Наличие вопросов для слушателей?</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="has-questions" name="has-questions">
                                            <label class="custom-control-label" for="has-questions">Есть / Нет</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
	    	</div>
	    </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Ни одного вебинара не обнаружено.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-1">
        <div class="col-4 mx-auto d-block">
            <form action="{% url 'index' %}" enctype="multipart/form-data" method="post" id="expert-questions">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mx-auto d-block" id="complete">Завершить анализ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}